@import 'tailwindcss';

:root {
  font-size: 100%;

  --background: #ffffff;
  --foreground: #171717;
  --font-poppins: Poppins, sans-serif;

  scroll-behavior: smooth;

  @media (max-width: 768px) {
    font-size: 93.75%;
  }
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-poppins);
}
